server.port=

gpt.model=gpt-3.5-turbo
gpt.token=
gpt.url=https://api.openai.com/v1/chat/completions
gpt.maxRetriesCount=1

spring.rabbitmq.host=localhost
spring.rabbitmq.port=
spring.rabbitmq.username=
spring.rabbitmq.password=

spring.datasource.url=jdbc:postgresql://localhost:5432/...
spring.datasource.username=
spring.datasource.password=
spring.jpa.generate-ddl=true

salt=yoursalt

book-stock.location=./files